*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
history.pdf
main.pdf
*.run.xml
*.snm
*.spl
*.synctex.gz
*.synctex
*.toc
*.upa
*.upb
*.synctex(busy)
*.bcf-SAVE-ERROR
build/*